table, th, td {
    max-width: 300px;
    margin: 0 auto;
    word-wrap:break-word;
    table-layout:auto;
}

.onclickaction:hover{
    cursor: pointer;

}
body{

background-image: url('bg.jpg');
    background-repeat: no-repeat;
background-size: cover;
}
.btn {
    color: white;
    background: #212529;
    padding: 0;
    border: none;
}
.title{
    font-family: signinfont1;
text-align: center;
    margin: auto;
    font-size: 50px;
}
@font-face {
  font-family: 'signinfont1';
  src: url( '../media/signinfont.otf')  format("truetype"),
       local('signinfont1');
}
