{% extends 'signup/base.html' %}
{% block content %}
<div class="conteiner"><h4>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum neque eu arcu ullamcorper lacinia. Maecenas quis dignissim orci.
    Curabitur egestas varius quam, vel laoreet felis finibus sit amet. Aliquam ut orci egestas, ultricies est eu, blandit risus. Donec tincidunt eget ex eget consectetur.
    Pellentesque placerat odio in magna vestibulum, vitae finibus orci sollicitudin. Quisque molestie rhoncus arcu eget commodo. Nulla felis ipsum, pulvinar nec congue non,
    lacinia convallis purus. Nam eget cursus felis, sed pulvinar libero. Sed pulvinar vulputate nunc ut vestibulum. Pellentesque et nisl ex. Quisque et sodales sapien.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</h4>
</div>

{% endblock %}